<% @order.line_items.each do |item| %>

  <tr>
    <td>
      <%= image_tag item.product.image.tiny %>
    </td>
    <td>
      <h4><%= item.product.name %></h4>
      <br>
      <p><%= item.product.description %></p>
    </td>
    <td>
      <%= item.quantity %>
    </td>
    <td>
      $<%= "%.2f" % (item.total_price_cents / 100.0) %>
    </td>
  </tr>

  <% end %>
