<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>


  <% if cart.blank? %>

  <div class="alert alert-danger" role="alert">
   Your cart is empty, dawg. Be a good capitalist and buy something!
  </div>

   <% else %>
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_total = 0 %>
        <% cart.each do |product_id, details| %>
          <%= render 'item', product_id: product_id, details: details %>
          <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            $<%= @cart_total %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= form_tag orders_path do %>
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-amount="<%= @cart_total * 100 %>"
          data-name="Jungle"
          data-description="<%= current_user.firstname %> <%= current_user.lastname %>'s Jungle Order"
          data-locale="auto"
          data-email="<%= current_user.email %>"
          data-currency="cad">
        </script>
      <% end %>
    </div>
  </div>
  <% end %>

</section>
