<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd>$ <%= @product.price %></dd>
        </dl>
      </div>
    <div class="col-sm-8">
      <br>
      <dl class="dl-horizontal">
        <% @product.reviews.each do |i| %>
        <dt><%= show_stars i.rating %></dt>
      <dd>
        <%= i.description %>
        <br>
        Submitted <%= i.created_at %>
      </dd>
      <br>
      <% end %>
    </dl>
  </div>
  </div>

  </article>

</section>
